@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttonless {
  font-weight: bold;
  transition: all 0.3s;
  color: #e974c4;
}

.buttonless:hover {
  transition: 0.3s ease-out;
  color: #b45496;
}

.button-text {
  font-weight: bold;
  transition: all 0.3s;
  color: #e974c4;
}

.button-text:hover {
  transition: 0.3s ease-out;
  color: #b45496;
}

.a-custom {
  text-decoration: none;
}

.footer-custom {
  background-color: white;
  color: black;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
